<div class="wrapper usp-wrapper">
    <div class="item">
        <img src="https://www.fitness-seller.nl/media/wysiwyg/usp-1.svg?ver=202207211127" alt="Gratis verzending">
        <p class="bold uppercase">
            Gratis verzending
        </p>
        <p class="underline">
            Vanaf €2500,- bestelwaarde
        </p>
    </div>
    <div class="item">
        <img src="https://www.fitness-seller.nl/media/wysiwyg/usp-6.svg" alt="Tot 3 jaar garantie">
        <p class="bold uppercase">
            Tot 3 jaar garantie
        </p>
        <p class="underline">
            Op gecertificeerde equipment
        </p>
    </div>
    <div class="item">
        <img src="https://www.fitness-seller.nl/media/wysiwyg/usp-4.svg" alt="Showroom & magazijn">
        <p class="bold uppercase">
            Showroom & magazijn
        </p>
        <p class="underline">
            Voor advies en afhalen
        </p>
    </div>
    <div class="item">
        <img src="https://www.fitness-seller.nl/media/wysiwyg/usp-2.svg" alt="Dagelijkse verzendingen">
        <p class="bold uppercase">
            Dagelijkse verzendingen
        </p>
        <p class="underline">
            Uit eigen voorraad
        </p>
    </div>
    <div class="item">
        <img src="https://www.fitness-seller.nl/media/wysiwyg/usp-5.svg" alt="Innovatieve producten">
        <p class="bold uppercase">
            Innovatieve producten
        </p>
        <p class="underline">
            Ontwikkeld door onze eigen ingenieurs
        </p>
    </div>
</div>